.box1 {
    margin-left: 170px;
    margin-top: 110px;
}
.body-head {
    display: flex;
    margin-left: 10px;
}
.box {
    display: flex;
}
.box2 {
    flex: 50%;
    margin-right: 70px;
    margin-top: 70px;
}

span {
    color: grey;
}
.main {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.rec1 {
    border: 1px none;
    margin: 20px;
    padding: 15px;
}
.rec2 {
    border: 1px none;
    margin: 20px;
    padding: 15px;
    margin-top: 100px;
}
.rec3 {
    border: 1px none;
    margin: 20px;
    padding: 15px;
    margin-top: 200px;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
.hr {
    width: 45%;
    text-align: center;
}

.push {
    margin-left: 400px;
    margin-top: 30px;
}

.but {
    margin-left: 20px;
    background-color: white;
    border: none;
}

.para {
    margin-right: 70px;
    color: gray;
}
.head-line {
    margin-right: 50px;
}

.para-1 {
    padding-left: 400px;
    padding-right: 400px;
    color: gray;
}

.last-1 {
    margin-top: 100px;
}